POSTGRES_HRM_DB=hyban_db_v1
POSTGRES_HRM_USER=directus
POSTGRES_HRM_PASSWORD=change-me-hrm-db-password

POSTGRES_KEYCLOAK_DB=keycloak_db
POSTGRES_KEYCLOAK_USER=keycloak
POSTGRES_KEYCLOAK_PASSWORD=change-me-keycloak-db-password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-admin-password
KEYCLOAK_CLIENT_SECRET=change-me-keycloak-client-secret

FRONTEND_PUBLIC_PORT=7153
BACKEND_PUBLIC_PORT=7200
KEYCLOAK_PUBLIC_PORT=8083
CARBONE_PUBLIC_PORT=4000

VPS_PUBLIC_HOST=http://YOUR_VPS_IP
VITE_API_BASE_URL=http://YOUR_VPS_IP:7200
VITE_KEYCLOAK_URL=http://YOUR_VPS_IP:8083
VITE_KEYCLOAK_REALM=hyban
VITE_KEYCLOAK_CLIENT_ID=hrm_frontend
VITE_API_TIMEOUT=30000

BACKEND_KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/hyban
JAVA_OPTS=-Xms256m -Xmx768m

CARBONE_EE_LICENSE=
CARBONE_EE_STUDIO=true
CARBONE_LOG_LEVEL=info
CARBONE_RENDER_TIMEOUT=60000
